{% extends 'admin/master.html' %}

{% block body %}
    <div class="container">
        <h1>Инструкция по добавлению вопроса:</h1>
        <ul>
            <li>
                Добавляем вопрос в <a href="/admin/question/">Question</a>
            </li>
            <li>
                Добавляем ответы в <a href="/admin/answer/">Answer</a>
            </li>
            <li>
                Связываем вопрос и ответы в <a href="/admin/answerresult/">Answer Result</a>
            </li>
        </ul>
    </div>
{% endblock %}