{% extends 'admin/master.html' %}

{% block body %}
    <div class="container">
        <h1>Инструкция по добавлению вопроса:</h1>
        <ul>
            <li>
                Добавляем вопрос в <a href="/admin/question/">Question</a>
            </li>
            <li>
                Добавляем ответы в <a href="/admin/answer/">Answer</a>
            </li>
            <li>
                Добавляем связку "вопрос-ответ" в <a href="/admin/questionanswermap/">Question Answer Map</a>
            </li>
        </ul>
        <br>
        <h1>Инструкция по удалению вопроса:</h1>
        <ul>
            <li>
                Удаляем вопрос из <a href="/admin/question/">Question</a>
            </li>
            <li>
                Удаляем ответы из <a href="/admin/answer/">Answer</a>
            </li>
        </ul>
        <br>
        <h1>Инструкция по редактированию вопроса:</h1>
        <ul>
            <li>
                Редактируем нужный элемент в <a href="/admin/question/">Question</a>,
                <a href="/admin/answer/">Answer</a>,
                <a href="/admin/questionanswermap/">Question Answer Map</a>
            </li>
        </ul>
    </div>
{% endblock %}