{% extends 'admin/master.html' %}

{% block body %}
    <div class="container">
        <h1>Статистика</h1>
        <ul>
            <li>Всего пользователей: {{ users_count }}</li>
            <li>Пользователи, не прошедшие тестирование: {{ users_who_not_passed_testing }}</li>
            <li>Всего вопросов: {{ questions_count }}</li>
            <li>Самый сложный вопрос: {{ hardest_question }}</li>
            <li>Самый лёгкий вопрос: {{ easiest_question }}</li>
        </ul>
    </div>
{% endblock %}